[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
authlib = "*"
bcrypt = "*"
fastapi = "*"
geopy = "*"
itsdangerous = "*"
passlib = "*"
pydantic = {extras = ["email"], version = "*"}
pyjwt = "*"
python-multipart = "*"
slowapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
aiohttp = "*"
black = "==21.12b0"
flake8 = "*"
httpx = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"
